# Compiled class files
*.class

# IntelliJ build output
/out/
**/out/

# IntelliJ user-specific files (safe to ignore, machine-specific)
.idea/workspace.xml
.idea/usage.statistics.xml
.idea/shelf/

# Logs
*.log

# OS files
.DS_Store
Thumbs.db
out/production/guess-market-console/guessmarket/console/app/GuessMarketConsoleAppEX1.class
out/production/guess-market-console/guessmarket/console/app/GuessMarketConsoleAppEX1.class
